.header_container{
    width: 100%;
    height: 120px;
    float: left;
    background-color: var(--dark_grey_accent);
    background-image: url(../../images/books.png);
    position: fixed;
    top: 0;
    
}

.header_section_side{
    width: 35%;
    float: left;
    height: 120px;
    text-align: center;
}

.header_section_center{
    width: 30%;
    float: left;
    text-align: center;
    height: 100px;
    background-color: var(--light_grey);
    border: 4px solid var(--light_color);
    border-radius: 10px;
    margin-top: 30px;
    
}

.exit_img{
    width: 80px;
    height: 70px;
    margin-top: 25px;
    cursor: pointer;
    display: none;
}

.logo_img{
    /* width: 200px;
    height: 45px;
    padding: 2px;*/
    margin-top: 20px; 
    width: 70%;
}

.hide{
    display: none;
}

.show{
    display: block;
}

@media screen and (max-width: 700px) {
    .header_section_side{
        width: 25%;
    }
    
    .header_section_center{
        width: 50%;
    }
}

@media screen and (max-width: 500px) {

    .header_section_side{
        width: 15%;
    }
    
    .header_section_center{
        width: 70%;
    }
    
    .exit_img{
        width: 50px;
        height: 40px;
        margin-top: 50px;
    }
    
   
    

}




