#loading_overlay{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../../images/website_component_bakground.png);
    z-index: 15;
    position: fixed;
}
.loading_section {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 15;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid var(--light_color);
    border-radius: 50%;
    border-top: 16px solid var(--dark_grey);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }