/* dispay modal */
.definition_area{
    width: 100%;
    float: left;
    margin-bottom: 70px;
    margin-top: 100px;
}
#display_definition_modal_id{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	background-color: var(--light_color);
	width: 100vw;
	height: 100vh;
	z-index: 25;
	overflow-y: scroll;
	display: none;
   
}

#display_definition_modal_header_id,#display_definition_modal_related_id h2{
    color: var(--dark_blue);
    font-size: 25px;
    border-bottom: 1px solid var(--dark_blue);
}

#display_definition_modal_related_id h2{
    font-size: 30px;
    padding-bottom: 4%;
}

#display_definition_modal_related_id{
    font-size: 20px;
    font-weight: 600;
}

#display_definition_modal_category_id{
    font-size: 15px;
    color: var(--dark_blue);
}

#display_definition_modal_date_id{
    font-weight: 600;
}

#display_definition_modal_definition_id{
    font-size: 20px;
    font-weight: 600;
}

.display_definition_modal_section{
	width: 96%;
	margin: 1%;
	padding: 1%;
	
}

.display_definition_modal_section_header,.display_definition_modal_section_header_inner{
	padding: 1%;
	background-color: var(--dark_blue);
	color: var(--light_color);
	border-radius: 10px;
	width: 50%;
}

.display_definition_modal_empty{
	height: 100px;
	width: 100%;
}

.display_definition_modal_section_header{
    margin-left: 24%;
    margin-right: 24%;
    top: 0;
    position: absolute;
}


.display_definition_modal_section_header_inner{
	margin: 1%;
	padding: 1%;
	width: 96%;
	border-radius: 10px;
	border: 2px solid var(--light_color);
    text-align: center;
}

.display_definition_modal_section_header_inner span:hover{
    cursor: pointer;
    color: var(--light_blue);
}

.display_definition_modal_section span{
	width: 30px;
	height: 30px;
	font-size: 30px;
	font-family: 'Goudy Stout';
}

/**Autocomplete component*/

.populate_options_class {
    position: fixed;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 52vh;
    height: 50vh;
    overflow-y: scroll;
    left: 0;
    right: 0;
    background-color: var(--light_color);
}

.populate_options_class div {
    padding: 10px;
    background-color: var(--light_color);
}

.populate_options_class div:hover {
    background-color: var(--light_color_accent);
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .populate_options_class {
        top: 50vh;
        height: 45vh;
    }
}

@media screen and (max-width: 950px) {
    .populate_options_class {
        top: 48vh;
        height: 45vh;
    }
}


@media screen and (max-width: 770px) {
   
    #display_definition_modal_header_id,#display_definition_modal_related_id h2{
        font-size: 25px;
    }
    
    #display_definition_modal_related_id h2{
        font-size: 25px;
    }
    
    #display_definition_modal_related_id{
        font-size: 15px;
    }
    
    #display_definition_modal_category_id{
        font-size: 12px;
    }
    
    
    #display_definition_modal_definition_id{
        font-size: 16px;
    }

    .display_definition_modal_section_header{
        margin-left: 4%;
        margin-right: 4%;
        width: 88%;
    }

    .display_definition_modal_section_header h2{
        font-size: 20px;
    }

    .display_definition_modal_section_header span{
        font-size: 20px;
    }

    


}

@media screen and (max-width: 680px) {
    .populate_options_class {
         top: 40vh;
        height: 55vh; 
    }

}

@media screen and (max-width: 523px) {
    .populate_options_class {
         top: 43vh;
        height: 52vh; 
    }

}

@media screen and (max-width: 490px) {
    .populate_options_class {
        top: 43vh;
        height: 55vh;
    }

}

@media screen and (max-width: 400px) {
    .populate_options_class {
        top: 42vh;
        height: 53vh;
    }

}
  
  
