.code_compare_container{
    float: left;
    width:90%;
    margin: 2%;
    margin-left: 3%;
    margin-right: 3%;
    background-image: url(../../images/website_component_bakground.png);
    
}

.code_compare_container_header{
    float: left;
    width: 96%;
    margin: 2%;
    margin-bottom: 0;
    color: var(--light_color);
}

.code_compare_container_header select{
    width: 32%;
    float: left;
    margin: 1%;
    height: 40px;
    color:  var(--dark_blue);
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid var(--dark_blue);
    cursor: pointer;
    
}

.code_compare_container_header select option{
    font-weight: 600;
}

#code_compare_mode_id{
    height: 50px;
    width: 70px;
    border-radius:5px;
    float: right;
}

#code_compare_mode_id:hover{
    cursor: pointer;
}

#code_compare_mode_id img{
    height: 55px;
    width: 75px;
}

#code_compare_container_body,#code_compare_container_output{
    width: 41%;
    margin: 2%;
    padding: 2%;
    height: 400px;
    background-color: var(--light_color);
    float: left;
    overflow-y: scroll;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid var(--light_color);
}

@media screen and (max-width: 770px) {
    .code_compare_container{
        width: 90%;
        margin-left: 5%;
        margin-right: 10%;
    }

    #code_compare_container_body{
        font-weight: 500;
    }

    
    #code_compare_container_body,#code_compare_container_output{
        width: 92%;
        height: auto;
        overflow-y: hidden;
    }
}

@media screen and (max-width: 500px) {
    .code_compare_container_header select{
        width: 38%;
    }

    #code_compare_mode_id img,#code_compare_mode_id{
        height: 40px;
        width: 50px;
    }
}

@media screen and (max-width: 500px) {
    .code_compare_container_header select{
        width: 30%;
    }

    #code_compare_mode_id img,#code_compare_mode_id{
        height: 40px;
        width: 50px;
    }
}