#programming_content_id{
    float: left;
	width: 96%;
    margin-top: 40px;
    padding: 2%;
}


.no_results{
    color: var(--red);
}

.left_navigation_tab{
	width:100%;
	float: left;
	padding: 2%;
    padding-left: 0;
    padding-bottom: 0;
	text-decoration: none;
	text-align: left;
    top: 12%;
    position: fixed;
    background-image: url(../../images/website_background.png);
}

.left_navigation_tab input{
	margin: 2%;
    margin-left: 1%;
    margin-top: 2px;
    padding-top: 0;
	padding: 2%;
	padding-bottom: 0;
	width: 30%;
	border: none;
	border-bottom: 2px solid var(--dark_blue);
    background-image: url(../../images/website_background.png);
	color: var(--dark_blue);
	font-weight: 600;
	font-size: 18px;
	float:left;
}

.left_navigation_tab input:focus{
	outline: none;
}

.left_navigation_tab_button_group{
	width: 61%;
	margin: 1%;
	float: left;
  
}

.left_navigation_tab_button_group button,.left_navigation_tab_button_group select{
	width: 30%;
	margin: 1%;
	padding: 1%;
	float: left;
	border-radius: 20px;
	background-color: var(--dark_blue);
    background-image: url(../../images/website_component_bakground.png);
	color: var(--light_color);
	font-weight: 600;
	cursor: pointer;
}

.left_navigation_tab_button_group button:hover{
    color: var(--light_blue);
}

.programming_concept_tab{
    width: 98%;
    float: left;
    border-bottom: 1px solid var(--dark_blue);
    margin-top: 2%;
}

.programming_concept_tab h3{
    color: var(--dark_blue);
    font-size: 25px;
    margin: 0;
}

.programming_concept_tab h4{
    color: var(--red);
    font-size: 20px;
}

@media screen and (max-width: 770px) {
    .left_navigation_tab_button_group{
        width: 98%;

    }

    .left_navigation_tab input{
        width: 94%
    }

    #programming_content_id{
        float: left;
        width: 96%;
        margin-top: 100px;
    }

    
}


@media screen and (max-width: 700px) {
    .left_navigation_tab{
        top:12%;
    }

    #programming_content_id{
        margin-top: 60px;
    }


}
@media screen and (max-width: 500px) {
    .left_navigation_tab_button_group button{
        width: 98%;
    }

    .left_navigation_tab_button_group select{
        width: 48%;
    }

   

    #programming_content_id{
        margin-top: 100px;
    }

}

@media screen and (max-width: 300px) {
    .left_navigation_tab_button_group button{
        width: 98%;
    }

    .left_navigation_tab_button_group select{
        width: 48%;
    }

    .left_navigation_tab{
        top:15%;
    }

}