.navigation_area{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 1%;
}

.navigation_tab{
    width: 88%;
    padding: 6%;
    background-image: url(../../images/website_component_bakground.png);
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid var(--light_color);
    color: var(--light_color);
    font-weight: 400;
    cursor: pointer;
}

.navigation_tab:hover{
    color: var(--light_blue);
}


@media screen and (max-width: 1025px) {
    .navigation_area{
        width: 60%;
    }

}

@media screen and (max-width: 700px) {
    .navigation_area{
        width: 90%;
    }

}