.navigation_container{
    width: 30%;
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    float: left;
    height: 100vh;
    background-image: url(../../images/website_background.png);
    opacity: 0.95;
    font-weight: 600;
}

#navigation_id{
    display: none;
}

.navigation_container_header{
    float: left;
    width: 96%;
    padding: 2%;
    background-color: var(--dark_grey);
    color: var(--light_color);
    height: 5vh;
}

.navigation_container_header h2{
    float: left;
    width: 80%;
    text-align: center;
    margin: 0;
}

.navigation_container_header span:hover{
    cursor: pointer;
    color: var(--light_blue);
}

.navigation_container_header span{
    float: left;
    width: 20%;
    text-align: center;
    margin-top: 1%;
    font-size: 20px;
    font-weight: 600;
}

.navigation_container_header_tab_container{
    width: 100%;
    float: left;
    height: 95vh;
    overflow-y: scroll;
}

.navigation_container_header_tab{
    width: 96%;
    padding: 2%;
    border-bottom: 1px solid var(--light_color);
    font-size: 18px;
    color: var(--dark_blue);
}

.navigation_container_header_tab:hover{
    background-image: url(../../images/website_component_bakground.png);
    color: var(--light_color);
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    .navigation_container{
        width: 100%;
    }

}