.footer_container{
    width: 98%;
    float: left;
    padding: 1%;
    background-image: url(../../images/website_component_bakground.png);
}

.footer_container_tabs,.footer_container_company_name{
    width: 98%;
    float: left;
    padding: 1%;
}

.footer_container_company_name img{
    width: 400px;
    height: 250px;
}


.footer_container_tabs h3{
    color: var(--dark_blue);
    text-align: left;
}

.footer_section{
    width: 26%;
    margin: 1%;
    border: 2px solid var(--dark_blue);
    background-color: var(--light_color);
    color: var(--dark_blue);
    border-radius: 10px;
    height: 230px;
    float: left;
    padding: 2%;
}

.footer_container_tabs_link{
    width: 98%;
    float: left;
    text-align: left;
    margin-bottom: 2%;
    margin-top: 2%;
}

.footer_container_tabs a{
    color: var(--dark_blue);
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

.footer_container_tabs a:hover{
    color: var(--dark_grey);
}

.subscription_box{
    border-radius: 10px;
    width: 90%;
    float: left;
    color: var(--dark_blue);
    padding: 4%;
}

.subscription_box h3,.subscription_box input,.subscription_box button{
    float: left;
    width: 98%;
    margin: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.subscription_box input,.subscription_box button{
    font-size: 20px;
}

.subscription_box input{
    width: 93%;
    padding: 2%;
    border: 2px solid var(--dark_blue);
}

.subscription_box button{
    border-radius: 10px;
    background-color: var(--light_color);
    border: 2px solid var(--dark_blue);
    color: var(--dark_blue);
    font-weight: 600;
}

.subscription_box button:hover{
    color: var(--light_color);
    background-color: var(--dark_blue);
    cursor: pointer;
}




.footer_container_company_name{
    text-align: center;
    color: var(--light_color);
}

@media screen and (max-width: 1025px) {
    
    .subscription_box{
        width: 92%;
        margin-left: 2%;
    }

    .subscription_box input,.subscription_box button{
        font-size: 15px;
    }

    .footer_section{
        height: 250px;
    }

    

}

@media screen and (max-width: 769px) {
    .footer_section{
        width: 94%;
        height: auto;
    }

    
    .footer_container_tabs_link{
        text-align: center;
    }

    .footer_container_tabs h3{
        text-align: center;
    }


    .subscription_box{
        width: 85%;
        margin-left: 1%;
    }

    .subscription_box input,.subscription_box button{
        font-size: 15px;
    }

    .footer_container_company_name img{
        width: 250px;
        height: 150px;
    }
}

@media screen and (max-width: 300px) {
    .footer_container_company_name img{
        width: 120px;
        height: 90px;
    }
}