.footer_container{
    width: 100%;
    float: left;
    background-color: var(--dark_grey_accent);
    color: var(--light_color);
    bottom: 0;
    position: fixed;
    height: 70px;;
}

.footer_container p{
    text-align: center;
    width: 100%;
    float: left;
}

.footer_container p text{
    text-decoration: underline;
    margin-bottom: 10px;
}

.footer_container p text:hover{
    cursor: pointer;
    color: var(--light_blue);
}

.footer_container button{
    text-align: center;
    width: 90px;
    float: left;
    margin-top: -150px;
    height: 60px;
    border-radius: 5px;
    background-color: var(--dark_grey_accent);
    color: var(--light_color);
    margin-left: 86%;
    display: none;
    text-align: center;
}

.footer_container button img{
    width: 30px;
    height: 25px;
}

.footer_container button:hover{
    color: var(--light_blue);
    border: 1px solid var(--light_blue);
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    .footer_container button{
        margin-left: 80%;
    }
}

@media screen and (max-width: 500px) {
    .footer_container button{
        margin-left: 70%;
    }
}

@media screen and (max-width: 360px) {
    .footer_container button{
        margin-left: 60%;
    }
}

