.about_us_header{
    width: 96%;
    padding: 2%;
    background-color: var(--dark_blue);
    color: var(--light_color);
    font-size: 30px;
    margin-top: -30px;
    float: left;
}

.about_us_section{
    width: 96%;
    padding: 2%;
    color: var(--dark_blue);
    font-size: 20px;
    float: left;
}

@media screen and (max-width: 770px) {
    .about_us_header{
        margin-top: -20px;
        font-size: 20px;
    }
}

