.modal_container_overlay{
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1%;
}

.modal_container{
    border-radius: 10px;
    padding: 2%;
    width: 40%;
    height: 35%;
    margin-top: 5%;
    background-image: url(../../images/website_component_bakground.png);
}

.modal_container_header,.modal_container_content,.modal_footer{
    float: left;
    width: 98%;
    padding: 1%;
    text-align: center;
    color: var(--light_color);
    padding-top: 3%;
    padding-bottom: 3%;
}

.modal_container_header{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid var(--light_color);
}

.modal_container_content{
    font-size: 15px;
}

.modal_footer{
    display: flex;
    justify-content: center;
}

.modal_footer button{
    width: 80%;
    padding: 2%;
    border: 1px solid var(--dark_blue);
    border-radius: 10px;
    background-color: var(--light_color);
    font-weight: 600;
    font-size: 20px;
    color: var(--dark_blue);
}

.modal_footer button:hover{
    background-color: var(--dark_blue);
    color: var(--light_color);
    border: 1px solid var(--light_color);
    cursor: pointer;
}

@media screen and (max-width: 1025px) {
    .modal_container{
        width: 60%;
    }

}

@media screen and (max-width: 700px) {
    .modal_container{
        width: 90%;
    }

}